<nav class="nav">
    <h1><a routerLink="/">E-COMM</a></h1>
    <div *ngIf="menuType!=='seller'">
        <input type="text" placeholder="search for products" (keyup)="searchProduct($event)" (blur)="hideSearch()" #searchInput>
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <!-- router link is not working bcz of blur function  -->
            <a (mousedown)="redirectToDetails(item.id)" id="a">{{item.name}}</a>
          </li>  
        </ul>
    </div>
  <div [ngSwitch]="menuType" class="menu">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="seller-auth">Seller</a></li>
        <li><a routerLink="user-auth">Login/Sign-up</a></li>
        <li><a routerLink="cart">Cart({{cartItems}})</a></li> 
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="seller-auth">User</a></li>
      <li><a routerLink="user-auth">{{userName | titlecase}}</a></li>
      <li><a routerLink="my-orders">My Order</a></li>
      <li><a (click)="userLogout()">Logout</a></li>
      <li><a [routerLink]="cartItems>0? 'cart-page':null">Cart({{cartItems}})</a></li> 
  </ul>
    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a (click)="logout()">Logout </a></li> 
        <li><a routerLink="login">Welcome {{sellerName | titlecase}}!</a></li>
    </ul>
  </div>
</nav>
