body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8; /* Light blue-gray background color for a clean look */
    font-family: 'Arial', sans-serif;
  }
  
  .user-auth {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* White background for the form */
    height: 100vh;
  }
  
  .user-auth h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .common-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-input:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none;
  }
  
  .form-button {
    width: 300px;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff; /* Blue button background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  