<div class="product-form">
    <h2>Update Product</h2>
    <p id="errormessage" style="text-align: center;color: green;">{{productMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="update(addProduct.value)">
        <div class="form-group">
            <label for="name">Product Name</label>
            <input id="name" name="name" type="text" placeholder="Enter product name" ngModel="{{productDetail?.name}}"/>
            <!--* ? marks means if there not undefined then only show exita input field on UI  -->
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" name="price" type="number" placeholder="Enter price" ngModel="{{productDetail?.price}}" />
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input id="color" name="color" type="text" placeholder="Enter color" ngModel="{{productDetail?.color}}" />
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <input id="category" name="category" type="text" placeholder="Enter category" ngModel="{{productDetail?.category}}" />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Enter product description" ngModel="{{productDetail?.description}}"></textarea>
        </div>

        <div class="form-group"> <label for="imageUrl">Image URL</label> <input id="imageUrl" name="imageUrl"
                type="text" placeholder="Enter image URL" ngModel="{{productDetail?.imageUrl}}" /> </div>
        <button type="submit">Update Product</button>
    </form>
</div>